@using Microsoft.EntityFrameworkCore
@using IndustrialContoroler.Models.Repositories;
@using IndustrialContoroler.Models.FacilityViewModels;
@model CastDatum;
@inject IRepository<Temporary> FaId;


    @if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger ms-3 me-3" role="alert">@TempData["Error"]</div>
}


@if (TempData.ContainsKey("success"))
{
    //if no data inserted for buildings show this error massege.
    <div class="alert alert-primary ms-3 me-3" role="alert">@TempData["success"]</div>
}

@if (TempData.ContainsKey("ExFileNull"))
{
    //if no data inserted for buildings show this error massege.
    <div class="alert alert-danger ms-3 me-3" role="alert">@TempData["ExFileNull"]</div>
}
@if (TempData.ContainsKey("InsertNull"))
{
    //if no data inserted for buildings show this error massege.
    <div class="alert alert-danger ms-3 me-3" role="alert">@TempData["InsertNull"]</div>
}



<div class="card mb-4 ms-3 me-3">
    <h3 style="font-family: 'Almarai', sans-serif; font-size:20px;  background-color: rgb(82, 134, 203); color: azure;" class=" card-header py-3 mb-10 "> بيانات المدلي </h3>



    <form method="post" class="card-body" enctype="multipart/form-data">
        <div style="font-family: 'Almarai', sans-serif; font-size:16px;" class="row g-3">
            <div class="col-md-4">
                <label asp-for="CdName" class="form-label fs-5">اسم المدلي</label>
                <input asp-for="CdName" class="form-control" placeholder="اسم المدلي" />
                <span asp-validation-for="CdName" class="text-danger"></span>
                @if (TempData.ContainsKey("CdNameError"))
                {

                    <span class="text-danger">@TempData["CdNameError"]</span>
                }
            </div>

            <div class="col-md-4">
                <label asp-for="CdJob" class="form-label fs-5">الوظيفة</label>
                <input asp-for="CdJob" class="form-control" placeholder="الوظيفة" />
                <span asp-validation-for="CdJob" class="text-danger"></span>
                @if (TempData.ContainsKey("CdJobError"))
                {

                    <span class="text-danger">@TempData["CdJobError"]</span>
                }
            </div>

            <div class="col -md-4">
                <label asp-for="CdPhoneNumber" class="form-label fs-5">رقم الهاتف</label>
                <input asp-for="CdPhoneNumber" class="form-control" placeholder="رقم الهاتف" />
                <span asp-validation-for="CdPhoneNumber" class="text-danger"></span>
                @if (TempData.ContainsKey("CdPhoneNumberError"))
                {

                    <span class="text-danger">@TempData["CdPhoneNumberError"]</span>
                }
            </div>


            <div class="col-md-4">
                <label asp-for="CdIdCardNumber" class="form-label fs-5">رقم البطاقة الشخصية</label>
                <input asp-for="CdIdCardNumber" class="form-control" placeholder="رقم البطاقة الشخصية" />
                <span asp-validation-for="CdIdCardNumber" class="text-danger"></span>
                @if (TempData.ContainsKey("CdIdCardNumberError"))
                {

                    <span class="text-danger">@TempData["CdIdCardNumberError"]</span>
                }
            </div>

            <div class="col-md-4">
                <label asp-for="CdCardPlaceIssu" class="form-label fs-5">مكان  إصدار البطاقة</label>
                <input asp-for="CdCardPlaceIssu" class="form-control" placeholder="مكان إصدار البطاقة" />
                <span asp-validation-for="CdCardPlaceIssu" class="text-danger"></span>
                @if (TempData.ContainsKey("CdCardPlaceIssuError"))
                {

                    <span class="text-danger">@TempData["CdCardPlaceIssuError"]</span>
                }
            </div>


            <div class="col-md-4">
                <label asp-for="CdCardIssuDate" class="form-label fs-5">تاريخ البطاقة</label>
                <input asp-for="CdCardIssuDate" class="form-control" placeholder="تاريخ البطاقة" />
                <span asp-validation-for="CdCardIssuDate" class="text-danger"></span>
                @if (TempData.ContainsKey("CdCardIssuDateError"))
                {

                    <span class="text-danger">@TempData["CdCardIssuDateError"]</span>
                }
            </div>

            <input asp-for="FaId" value="1" hidden />
        </div>

        <hr class="mx-n4 my-4" />

        <div style="font-family: 'Almarai', sans-serif; font-size:16px;" class="col justify-content-center">
            <a href="@Url.Action("relevantDocData","CreateFacility")" type="button" class="btn btn-label-secondary">السابق</a>
            <button asp-action="CastDataData" asp-controller="CreateFacility" type="submit" class="btn btn-primary me-1 me-sm-2">أضافة</button>
            <button asp-action="CastDataNext" asp-controller="CreateFacility" type="submit" class="btn btn-primary me-1 me-sm-2">التالي</button>
        </div>

    </form>
</div>
