@using Microsoft.AspNetCore.Mvc;
@using IndustrialContoroler.Models.requestsViewModels;
@inject IndustrialContorolerDatabaseContext db;
@inject UserManager<AppUsers> _userManager

@model Noti


@{
    var notiForEdit = db.Notis.Where(x => x.Title == @Helper.TitleEdit).ToList();
}
<!--

style="font-family: 'Almarai', sans-serif; font-size:20px;"

style="font-family: 'Cairo', sans-serif; font-size:18px;"

style="font-family: 'Almarai', sans-serif; font-size:18px;"


-->

@if (@Model.Title == @Helper.TitleEdit)
{
    @foreach (var item in notiForEdit)
    {


        <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row invoice-preview">

                <div class="col-12 col-md-8 col-xl-9 mb-4 mb-md-0">

                    <div id="Staistic_Table" class="card invoice-preview-card">

                        <div class="border border-0-0">


                            <div style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class=" row text-center  d-flex justify-content-center align-items-center m-2">
                                <div class="col  ">
                                    <p class="u-align-center u-text u-text-2 ">
                                        الجمهوريه اليمنية<br>وزارة
                                        الصناعه والتجارة<br>قطاع الصناعه<br>الادارة العامه للرقابه الصناعية
                                    </p>
                                </div>

                                <div class="col ">

                                    <img src="~/Images/IndustrialLogoReBk.png" class="rounded mx-auto d-block img-fluid img-thumbnail img-fluid " style="width: 125px; height: 125px;">

                                </div>
                                <div class="col">
                                    <p class="">
                                        رقم إستمارة الطلب : @*@foreach (var item in Model.)*@

                                        @item.FaId

                                        <br>
                                        تاريخ الملاحظة : @*@foreach (var item in Model)*@

                                        @item.Date


                                    </p>
                                </div>

                            </div>
                        </div>

                        <hr class="my-0" />


                        <div class="text-center mt-3">
                            <h3 style="font-family: 'Cairo', sans-serif; font-size:18px;">
                                إستمارة طلب رقم

                                @item.FaId

                            </h3>
                        </div>




                        <div class="card-body">
                            <div class="row p-0 p-sm-3">
                                <table class="table caption-top table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> العملية</th>
                                            <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> ملاحظة التعديل</th>
                                            <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> المصدر  </th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-family: 'Cairo', sans-serif; font-size:14px;">
                                        <tr>
                                            <td>
                                                @* @foreach (var item in Model)
                                                    {*@
                                                @item.Title

                                            </td>
                                            @if (Model.Description.Length>50)
                                            {
                                            <td style="width:420px; word-break:break-word;white-space:pre-wrap">

                                              @Model.Description

                                            </td>  
                                     
                                            }
                                        @if (Model.Description.Length < 50)
                                        {
                                            <td>
                                                @Model.Description

                                            </td>
                                        }
                                            <td>  @item.Sender</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="my-0" />





                        <footer>
                            <div class="col border-end  d-flex  align-items-center p-3">
                                <span style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class="fw-semibold"> حالة الطلب :</span>
                                <span style="font-family: 'Cairo', sans-serif; font-size:14px; color: black;" class="pe-3">قيدالتعديل </span>
                            </div>
                        </footer>



                    </div>

                </div>


                <div class="invoice-actions col-12 col-md-4 col-xl-3">
                    <div class="card">
                        <div style="font-family: 'Almarai', sans-serif; font-size:18px;" class="card-body">




                            <button type="button" onclick="printDiv('Staistic_Table')" class="btn btn-primary d-grid w-100 mt-3"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#addPaymentOffcanvas">
                                <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-printer bx-xs me-3"></i>طباعة </span>
                            </button>


                            <a asp-action="Index" asp-controller="FieldVisitForms" class="btn btn-secondary d-grid w-100 mt-3">
                                <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-arrow-back bx-xs me-3"></i>رجوع</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    }
}
@if (@Model.Title == @Helper.TitleReject)
{
    <div class="container-xxl flex-grow-1 container-p-y">

    <div  class="row invoice-preview">

        <div class="col-12 col-md-8 col-xl-9 mb-4 mb-md-0">

            <div id="Staistic_Table" class="card invoice-preview-card">

                <div class="border border-0-0">


                    <div style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class=" row text-center  d-flex justify-content-center align-items-center m-2">
                        <div class="col  ">
                            <p class="u-align-center u-text u-text-2 ">
                                الجمهوريه اليمنية<br>وزارة
                                الصناعه والتجارة<br>قطاع الصناعه<br>الادارة العامه للرقابه الصناعية
                            </p>
                        </div>

                        <div class="col ">

                            <img src="~/Images/IndustrialLogoReBk.png" class="rounded mx-auto d-block img-fluid img-thumbnail img-fluid " style="width: 125px; height: 125px;">

                        </div>
                        <div class="col">
                            <p class="">
                                رقم إستمارة الطلب : @*@foreach (var item in Model.)*@
                                
                                    @Model.FaId
                                
                                <br>
                            تاريخ الرفض : @*@foreach (var item in Model)*@
                                
                                    @Model.Date
                                

                            </p>
                        </div>

                    </div>
                </div>

                <hr class="my-0" />


                <div class="text-center mt-3">
                    <h3 style="font-family: 'Cairo', sans-serif; font-size:18px;">
                        إستمارة طلب رقم 
                        
                            @Model.FaId
                        
                    </h3>
                </div>




                <div class="card-body">
                    <div class="row p-0 p-sm-3">
                        <table class="table caption-top table-bordered text-center">
                            <thead>
                                <tr>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> العملية</th>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col">  سبب الرفض</th>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col">   المصدر</th>
                                </tr>
                            </thead>
                            <tbody style="font-family: 'Cairo', sans-serif; font-size:14px;">
                                <tr>
                                    <td>
                                       @* @foreach (var item in Model)
                                        {*@
                                            @Model.Title
                                        
                                    </td>
                                     @if (Model.Description.Length>50)
                                            {
                                            <td style="width:500px; word-break:break-word;white-space:pre-wrap">

                                              @Model.Description

                                            </td>  
                                     
                                            }
                                        @if (Model.Description.Length < 50)
                                        {
                                            <td>
                                                @Model.Description

                                            </td>
                                        }
                                    <td>@Model.Sender</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr class="my-0" />

               

               

                <footer>
                    <div class="col border-end  d-flex  align-items-center p-3">
                        <span style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class="fw-semibold"> حالة الطلب :</span>
                        <span style="font-family: 'Cairo', sans-serif; font-size:14px; color: black;" class="pe-3">مرفوض </span>
                    </div>
                </footer>



            </div>

        </div>


        <div  class="invoice-actions col-12 col-md-4 col-xl-3">
            <div class="card">
                <div style="font-family: 'Almarai', sans-serif; font-size:18px;" class="card-body">

                


                    <button type="button"  onclick="printDiv('Staistic_Table')" class="btn btn-primary d-grid w-100 mt-3"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#addPaymentOffcanvas">
                        <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-printer bx-xs me-3"></i>طباعة </span>
                    </button>


                    <a asp-action="Index" asp-controller="FieldVisitForms" class="btn btn-secondary d-grid w-100 mt-3">
                        <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-arrow-back bx-xs me-3"></i>رجوع</span>
                    </a>
                </div>
            </div>
        </div>
    
    </div>

</div>
}
@if(@Model.Title != @Helper.TitleEdit && @Model.Title != @Helper.TitleReject)
{
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row invoice-preview">

        <div class="col-12 col-md-8 col-xl-9 mb-4 mb-md-0">

            <div id="Staistic_Table" class="card invoice-preview-card">

                <div class="border border-0-0">


                    <div style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class=" row text-center  d-flex justify-content-center align-items-center m-2">
                        <div class="col  ">
                            <p class="u-align-center u-text u-text-2 ">
                                الجمهوريه اليمنية<br>وزارة
                                الصناعه والتجارة<br>قطاع الصناعه<br>الادارة العامه للرقابه الصناعية
                            </p>
                        </div>

                        <div class="col ">

                            <img src="~/Images/IndustrialLogoReBk.png" class="rounded mx-auto d-block img-fluid img-thumbnail img-fluid " style="width: 125px; height: 125px;">

                        </div>
                        <div class="col">
                            <p class="">
                                رقم الأسعار  : @*@foreach (var item in Model.)*@

                                @Model.Id

                                <br>
                                تاريخ صدور الأشعار : @*@foreach (var item in Model)*@

                                @Model.Date


                            </p>
                        </div>

                    </div>
                </div>

                <hr class="my-0" />


                <div class="text-center mt-3">
                    <h3 style="font-family: 'Cairo', sans-serif; font-size:18px;">
                        اشعار  رقم

                        @Model.Id

                    </h3>
                </div>




                <div class="card-body">
                    <div class="row p-0 p-sm-3">
                        <table class="table caption-top table-bordered text-center">
                            <thead>
                                <tr>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> عنوان الأشعار</th>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col">  ملاحظة الأشعار </th>
                                    <th style="font-family: 'Almarai', sans-serif; font-size:16px;" scope="col"> المصدر  </th>
                                </tr>
                            </thead>
                            <tbody style="font-family: 'Cairo', sans-serif; font-size:14px;">
                                <tr>
                                    <td>
                                       
                                        @Model.Title

                                    </td>
                                    
                                        @if (Model.Description.Length>50)
                                            {
                                            <td style="width:420px; word-break:break-word;white-space:pre-wrap">

                                              @Model.Description

                                            </td>  
                                     
                                            }
                                        @if (Model.Description.Length < 50)
                                        {
                                            <td>
                                                @Model.Description

                                            </td>
                                        }
                                        <td>  @Model.Sender</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr class="my-0" />





                <footer>
                    <div class="col border-end  d-flex  align-items-center p-3">
                        <span style="font-family: 'Almarai', sans-serif; font-size:16px; color: black;" class="fw-semibold"> حالة الأشعار :</span>
                        @{
                            var user = await _userManager.FindByNameAsync(User.Identity?.Name);

                            if (Model.Receiver == user.Id)
                            {
                                @if (!Model.IsRead)
                                {
                                    
                                       <form method="post" action="@Url.Action("MarkAsRead", "Request", new { id = Model.Id})">
                                                    <a href="javascript:void(0)"
                                       class="dropdown-notifications-all text-body"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title=" تفعيل الأستلام ">
                                                        <button type="submit" style="width:70px; height:30px;" class="btn btn-icon btn-outline-primary">
                                                            <span class="bx fs-4 bx-envelope-open"></span>
                                                        </button>
                                                    </a>
                                                </form>
                                }
                                else
                                {
                                    <span class="text-center badge bg-label-success me-1"> تم الأستلام </span>
                                }
                            }
                            else
                            {

                                if (!Model.IsRead)
                                {
                                    <span class="text-center badge bg-label-warning me-1"> لم يٌستلم بعد</span>
                                }
                                else
                                {
                                    <span class="text-center badge bg-label-success me-1"> تم الأستلام</span>
                                }
                            }
                        }
                    </div>
                </footer>



            </div>

        </div>


        <div class="invoice-actions col-12 col-md-4 col-xl-3">
            <div class="card">
                <div style="font-family: 'Almarai', sans-serif; font-size:18px;" class="card-body">




                    <button type="button" onclick="printDiv('Staistic_Table')" class="btn btn-primary d-grid w-100 mt-3"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#addPaymentOffcanvas">
                        <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-printer bx-xs me-3"></i>طباعة </span>
                    </button>


                    <a asp-action="Index" asp-controller="Notification" class="btn btn-secondary d-grid w-100 mt-3">
                        <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-arrow-back bx-xs me-3"></i>رجوع</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

}

<!--------print Table----------->
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var layoutheade = document.getElementById("layoutheade").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = layoutheade;
        document.body.innerHTML = printContents;



        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]

        document.body.innerHTML = originalContents;

    }

</script>
