
@using IndustrialContoroler.ViewModel

@model NotificationVM

@inject IndustrialContorolerDatabaseContext _context

@inject IHttpContextAccessor _sessions
@inject UserManager<AppUsers> _userManager
    @{
    var faId = ViewData["FaId"];
    var noti = _context.Notis.Where(x => x.IsDeleted.Equals(false)).OrderByDescending(x => x.Date).ToList();
        ViewData["Roles"] = new Microsoft.AspNetCore.Mvc.Rendering.SelectList(_context.Roles.Where(x => x.Name != @Helper.SysAdminsitrator && x.Name != @Helper.SuperAdmin  && x.Name != @Helper.TechnicalSpecialist && x.Name != @Helper.Progreammer), "Name", "Name");
        var user = await _userManager.FindByNameAsync(User.Identity?.Name);
        var userid = user.Id;
    }



            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row invoice-add">
                <!-- Invoice Add-->
                <div class="col-12 col-lg-9 mb-4 mb-lg-0">
                  <div class="card invoice-preview-card">
                    <div class="card-body">
                    <div class="row p-0 p-sm-3">

                        <div class="col-md-6 mb-4 mb-md-0">
                          <div class="svg-illustration gap-2 d-flex mb-4">
                            <span class="app-brand-text h3 fw-bold mb-0">إشعار</span>
                          </div>

                         
                        </div>

                       
                    </div>

                      <hr class="mx-n4 my-2" />

                      <div class="row p-0 p-sm-3">
                          <form asp-action="RejectVisitForm" asp-controller="FieldVisitForms" id="notification-form" method="post" >
                      <div class="col-md-6">
                      <div class="mb-3">
                                                               <input asp-for="@faId" hidden/>
                                                                <label asp-for="RoleId" class="form-label fs-5">إشعار الى </label>
                                                                <select class="form-select fs-5" asp-for="RoleId" onchange="getUsers()" required>
                                                                    @foreach (var role in ViewData["Roles"] as SelectList)
                                                                    {
                                                                         <option>اختار الصلاحية</option>
                                                                            <option value="@role.Value">@role.Text</option>
                                                                    }
                                                                </select>
                                                            </div>
                      
                      <div class="mb-3">
                        <label  asp-for="ToUserId" class="form-label fs-5">اسم المستخدم  </label>
                        <select class="form-select fs-5"  asp-for="ToUserId" id="userSelect"  > </select>
                          
                      </div>
                      <div class="mb-3">
                        <label asp-for="Title" class="form-label fs-5" hidden> عنوان الأشعار  </label>
                        <input asp-for="Title" class="form-label fs-5" value="@Helper.TitleReject" hidden />

                          
                      </div>
                    </div>

                        <div>
                        <label asp-for="Description" class="form-label fs-5">سبب الرفض </label>
                        <textarea class="form-control" asp-for="Description" rows="3"  placeholder="أكتب سبب الرفض هنا"></textarea>
                      </div>

                    </form>
                      </div>

                      <div class="row py-sm-3"> </div>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Add-->

                <!-- Invoice Actions -->
                <div class="invoice-actions col-12 col-lg-3">
                  <div class="card mb-4">
                    <div class="card-body">
                      <button
                        class="btn btn-primary d-grid w-100 mb-3"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#sendInvoiceOffcanvas"
                       type="button" id="Save-button"

                      >
                      <span>  <i class="bx bx-paper-plane bx-xs me-3"></i>إرسال </span>
                        
                       
                      </button>
                     
                       <a href="" class="btn btn-label-secondary d-grid w-100 mb-3">مراجعة</a>
                     
                  @* <a asp-action="Index" asp-controller="Notification" class="btn btn-secondary d-grid w-100 mt-3">
                        <span class="d-flex justify-content-center align-items-center text-nowrap"><i class="bx bx-arrow-back bx-xs me-3"></i>رجوع</span>
                            </a>*@
                    </div>
                  </div>
                </div>
                <!-- /Invoice Actions -->
              </div>
            </div>

@section scripts {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @if (!string.IsNullOrEmpty(_sessions.HttpContext.Session.GetString(Helper.MsgType)))
        {
        if (_sessions.HttpContext.Session.GetString(Helper.MsgType) == Helper.Success)
        {
<script>

    Swal.fire({
        title: '@_sessions.HttpContext.Session.GetString(Helper.Title)',
            text: '@Html.Raw(@_sessions.HttpContext.Session.GetString(Helper.Msg))',
            confirmButtonText: '@ResourceWeb.lbOk',
        icon: 'success'
    });
</script>

        }
        else
        {
<script>

    Swal.fire({
           title: '@_sessions.HttpContext.Session.GetString(Helper.Title)',
           text: '@Html.Raw(@_sessions.HttpContext.Session.GetString(Helper.Msg))',
           confirmButtonText: '@ResourceWeb.lbOk',
        icon: 'error'
    });
</script>
        }
        _sessions.HttpContext.Session.SetString(Helper.MsgType, "");
        }

<script src="~/Modules/notificatiom.js"></script>


<script>
      function getUsers() {
        var roleId = $('#RoleId').val();
        $.ajax({
            type: 'GET',
            url: '/Notification/GetUsersInRole',
            data: { roleName: roleId },
            success: function (data) {
                var users = data.map(function (user) {
                    return '<option value="' + user.id + '">' + user.fullName + '</option>';
                }).join('');
                $('#userSelect').html('<option value="">-- اختار المستخدم --</option>' + users);
            },
             error: function () {
                alert("حدث خطأ أثناء استرجاع المستخدمين.");
            }
        });
    }
</script>

<script>

    $(function(){
    
        $('#Save-button').click(function(){
            $('#notification-form').submit();
        });
           });
    

</script>

<script>

    let lbTitleEdit = '@Html.Raw(ResourceWeb.lbTitleEdit)';
    let lbEdit = '@Html.Raw(ResourceWeb.lbEdit)';
    let lbAddNewRole = '@Html.Raw(ResourceWeb.lbAddNewRole)';
    let lbbtnSave = '@Html.Raw(ResourceWeb.lbbtnSave)';

    let lbTitleMsgDelete = '@Html.Raw(ResourceWeb.lbTitleMsgDelete)';
    let lbTextMsgDelete = '@Html.Raw(ResourceWeb.lbTextMsgDelete)';
    let lbconfirmButtonText = '@Html.Raw(ResourceWeb.lbconfirmButtonText)';
    let lbcancelButtonText = '@Html.Raw(ResourceWeb.lbcancelButtonText)';

    let lbTitleDeletedOk = '@Html.Raw(ResourceWeb.lbTitleDeletedOk)';
    let lbMsgDeletedOkRole = '@Html.Raw(ResourceWeb.lbMsgDeletedOkRole)';
    let lbSuccess = '@Html.Raw(Helper.Success)';

</script>

}